<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="home-button" routerLink="">Bmi App</span>
        <span class="spacer"></span>
        <span *ngIf="!isUserAuthenticated">
            <span class="button-span">
                <button mat-stroked-button routerLink="login">Login</button>
            </span>
            <span class="button-span">
                <button mat-stroked-button routerLink="register">Register</button>
            </span>
        </span>
        <span *ngIf="isUserAuthenticated">
            <button mat-stroked-button routerLink="records">View Results</button>
            <button mat-stroked-button (click)="onLogout()">Log out</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>